body{
    background-color: cadetblue;
}
p.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
    text-decoration: underline solid rgb(0, 0, 0);
    color: rgb(255, 126, 225);
}
p.content{
    text-transform: uppercase;
    text-align: justify;
    text-indent: 50px;
    color: #EB6020;
    background-color: rgba(5, 5, 5, 0.5);
}
.box{
    height: 400px;
    border: 2px solid rgb(3, 3, 3);
    background: url(../image/download.png);
    background-color: rgba(47, 34, 225, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    

}
    /* background: linear-gradient(45deg,
    #EB6020 0, #EB6020 25%,#A45280 25% ,#A45280 );

